.svn/*
.vs/*
builds/**/.gitignore
etc/**/.gitignore
packages/**/.gitignore
SupervisorClient/obj/*
SupervisorClient/bin/*
SupervisorClient/**/.gitignore
SupervisorServer/obj/*
SupervisorServer/bin/*
SupervisorServer/**/.gitignore
SupervisorLib/obj/*
SupervisorLib/bin/*
SupervisorLib/**/.gitignore
**/.svn/*
**/.vs/*
**/bin/*
**/obj/*
**/.git/*
**/CacheFiles/*
**/wwwroot/files/*
**/.gitignore.un~
**/.gitignore.swp
**/.gitignore~
**/.idea/*
**/node_modules/*
**/*.sublime-project
**/*.sublime-workspace
**/*.iml
**/env.json
**/sftp-config.json
**/*.code-workspace
**/package-lock.json
