.chatRoomUserListWrapper
  width: 100%

  .chatUserList
    list-style: none
    width: 100%
    margin: 0
    border-top: 1px solid #d9d9d9
    background: #ffffff
    overflow-y: auto

    &::-webkit-scrollbar
      display: block
      width: 8px
      background: rgba(255, 255, 255, 0.25)

    &::-webkit-scrollbar-thumb
      border-radius: 5px
      background: rgba(200, 200, 200, 0.8)

    &::-webkit-scrollbar-track
      &:hover
        background: rgba(255, 255, 255, 0.25)

    .chatRoomUserCount
      padding: 10px
      font-size: 12px

    .chatRoomUser
      display: flex
      justify-content: flex-start
      font-size: 12px
      padding: 10px
      border-top: 1px solid #d9d9d9

      .chatRoomUserIcon
        position: relative
        flex: 0 0 auto
        width: 20px
        height: 20px
        border-radius: 10px

        .chatRoomUserIconImage
          object-fit: contain


      .chatRoomUserName
        position: relative
        flex: 1 1 auto
        display: block
        margin-left: 5px

        .currentUserName
          position: absolute
          top: 0
          left: 0
          width: 100%

        .userNameInput
          position: absolute
          top: 0
          left: 0
          width: 100%
          border: 1px solid #ffffff00
          font-size: 12px
          opacity: 0

          &:focus
            opacity: 1

      &.mine
        .chatRoomUserIcon
          color: #ffffff
          background-color: #66bbff

        .chatRoomUserName
          font-weight: 700
          background: right center / contain no-repeat url("/images/modify-icon.svg")


@media (max-width: 700px)
  .chatRoomUserListWrapper
    .chatUserList
      width: 100%
      margin-right: 0

      .chatRoomUserCount
        border-bottom: 0