.chatRoomEnterWrapper
    margin-top: 20px

    .chatRoomInputNotice
        text-align: center
        margin-bottom: 20px

    .enterChatRoomButtonWrapper
        display: flex
        justify-content: center

        .enterChatRoomButton
            padding: 5px
            margin-left: 10px
