.chatNotice
    display: flex
    margin: 5px 0
    border-radius: 8px
    padding: 10px
    width: 100%
    justify-content: center
    align-items: center
    text-align: center
    background: #efefef

.chatContents
    list-style: none
    display: flex
    margin-top: 5px
    justify-content: flex-start

    .chatUserProfileWrapper
        display: flex
        justify-content: center
        align-items: center
        flex: 0 0 40px
        border-radius: 20px
        margin-right: 5px
        width: 40px
        height: 40px
        overflow: hidden
        background: #ffffff
        box-shadow: 0 0 10px #acacac
        object-fit: cover

        .chatUserProfile
            width: 40px
            object-fit: cover

    &.mine
        justify-content: flex-end

    .chatWrapper
        flex: 0 1 auto
        display: flex
        flex-direction: column

        .chatNickName
            margin-bottom: 5px
            font-size: 13px

        .chatMessage
            position: relative
            display: block
            border: 1px solid #d9d9d9
            border-radius: 8px
            text-align: left
            margin-left: 8px
            margin-right: 8px
            padding: 8px
            background: #ffffff
            color: #000000

            &.mine
                border: 1px solid #3399dd
                background: #66bbff
                color: #ffffff

            &.chatMessageImage
                position: relative
                border: 0
                width: 150px
                padding: 0
                background: none
                overflow: hidden

            .chatImage
                width: 100%
                height: 100%
                border-radius: 8px
                object-fit: cover
                max-width: 150px
                max-height: 150px

                &:hover
                    cursor: pointer

        .chatTime
            margin-top: 5px
            font-size: 12px
            text-align: right
