.chatSignInWrapper
    width: 100%
    height: 100%

    .chatSignIn
        display: flex
        flex-direction: column
        border-left: 1px solid #d9d9d9
        border-right: 1px solid #d9d9d9
        width: 100%
        height: 100%

        .signinEmpty
            flex: 1 0 auto

        .title
            flex: 1 0 auto

        .buttons
            display: flex
            justify-content: center
            align-items: center
            height: 50px

            .createTempButton
                padding: 5px 10px