.usersWrapper
    width: 100%

    .sectionWrapper
        margin-top: 10px
        margin-left: 10px
        width: 100%

        .sectionName
            margin-left: 10px

        .userList
            margin: 0
            padding: 0
            width: 100%
            list-style: none

            .userNone
                padding: 20px 0
                text-align: center

            .user
                border-top: 1px solid #e5e5e5
                padding: 8px 5px
                width: 100%

    .userMenu

        .userMenuItem

            .userMenuItemContent
                display: flex
                justify-content: flex-start
                align-items: baseline

                .userMenuItemIconWrapper
                    display: flex
                    justify-content: center
                    align-items: center

                    .userMenuItemIcon

                .userMenuName
                    margin-left: 5px
    &.dev
        opacity: 0.3


@media (max-width: 700px)
