.chatRoomInputWrapper {
    width: 80vw;
    display: flex;
    justify-content: center;

    .userNameInput {
        padding: 5px;
    }

    .roomNameInput {
        padding: 5px;
        margin-left: 10px;
    }

    .createRoomButton {
        padding: 5px;
        margin-left: 10px;
    }
}

.chatRoomListWrapper {
    width: 80vw;
    margin-top: 20px;

    .chatRoomList {
        width: 100%;

        .chatRoomListItem {
            display: flex;
            justify-content: center;
            list-style: none;
            text-align: center;

            .chatRoomEnterButton {
                width: 50vw;
                border: 1px solid #d9d9d9;
                border-radius: 5px;
                padding: 10px 5px;
                background: white;
            }
        }
    }
}

.chatContentsWrapper {
    display: flex;
    width: 80vw;

    .chatUserList {
        list-style: none;
        flex: 1 1 auto;
        max-width: 200px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #d9d9d9;
        padding: 10px;
        background: #ffffff;
        border-radius: 8px;

        .chatRoomUserCount {
            font-size: 12px;
            text-align: center;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 10px;
        }

        .chatRoomUser {
            font-size: 12px;
            padding: 2px 3px 2px 5px;
            margin-top: 5px;
            margin-left: 5px;
            border-left: 3px solid #d9d9d9;
        }

        .chatRoomUser:nth-child(2) {
            margin-top: 10px;
        }
    }

    .chatContentsList {
        flex: 1 1 auto;
        margin-top: 0;
        margin-bottom: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 8px;
        max-height: 300px;
        overflow-y: scroll;
        padding: 10px;
        background: white;
    }
}

.chatMessageInputWrapper {
    display: flex;
    width: 80vw;
}

@media (max-width: 700px) {
    .chatRoomInputWrapper {
        width: 100%;
        flex-direction: column;

        .userNameInput {

        }

        .roomNameInput {
            margin-top: 10px;
            margin-left: 0;
        }

        .createRoomButton {
            margin-top: 10px;
            margin-left: 0;
        }
    }

    .chatRoomListWrapper {
        width: 100%;

        .chatRoomList {

            .chatRoomListItem {

                .chatRoomEnterButton {
                    width: 100%;
                }
            }
        }
    }

    .chatContentsWrapper {
        width: 100%;
        flex-direction: column;

        .chatUserList {
            overflow-y: hidden;
            max-width: 100%;
            margin-right: 0;
            max-height: 35px;

        }
        .chatUserList.chatUserListScroll {
            max-height: 100px;
            overflow-y: scroll;
        }

        .chatContentsList {
            max-height: 200px;
        }
    }

    .chatMessageInputWrapper {
        width: 100%;
    }
}
