@import "defines.module"

.chatSignInWrapper
    width: 100%
    height: 100%

    .chatSignIn
        display: flex
        flex-direction: column
        border-left: 1px solid #d9d9d9
        border-right: 1px solid #d9d9d9
        width: 100%
        height: 100%

        .signinEmpty
            flex: 1 0 auto

        .title
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            flex: 1 0 auto

            .titleLogoWrapper
                position: relative
                display: flex
                justify-content: center
                align-items: center
                //border: 3px solid #000000
                border-radius: 125px
                box-shadow: 0 0 70px #69696989
                width: 250px
                height: 250px
                overflow: hidden

                .titleLogo
                    position: unset !important
                    max-width: 200px
                    max-height: 200px

            .titleTextWrapper
                display: flex
                padding-top: 40px

                .titleText
                    font-weight: 700
                    font-size: 30px

        .buttons
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center

            .buttonWrapper
                position: relative
                display: flex
                justify-content: center
                align-items: center
                margin-top: 10px
                padding: 0 20px
                width: 100%

                .button
                    padding: 5px 10px
                    width: 100%

                    &.existsToken
                        display: flex
                        justify-content: center
                        align-items: center
                        border: 0
                        padding: 0
                        background: none

                        .profile
                            width: 80px
                            height: 80px
                            border-radius: 40px

                        .name
                            font-size: 14px
                            color: #696969

                    &:hover
                        cursor: pointer

                        .profile
                            box-shadow: 0 0 10px #696969


                &.profileButtonWrapper
                    padding: 0
                    width: 80px

                &:first-child
                    margin-top: 0

                .changeUser
                    position: absolute
                    display: none
                    top: 0
                    right: 0
                    border: 1px solid #000000
                    border-radius: 13px
                    background: white
                    width: 26px
                    height: 26px
                    z-index: 2

                    .changeUserIcon
                        top: 2px !important
                        left: 2px !important
                        width: 20px !important
                        height: 20px !important

                    &:hover
                        cursor: pointer

                //&:hover
                //    .changeUser
                //        display: block


    &.dev
        opacity: $devOpacity