.button
    border: 1px solid #d9d9d9
    border-radius: 8px
    background: #ffffff
    color: #000000

    &.primaryButton
        background: #3399dd
        color: #ffffff
        border-color: #3399dd

    &:hover
        cursor: pointer
        border-color: #989898
        background: #dfdfdf

        &.primaryButton
            background: #66bbff
            border-color: #3399dd

.chip
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin-left: 10px
    margin-top: 10px
    padding: 3px 5px 3px 20px
    border: 1px solid #d9d9d9
    border-radius: 13px
    font-size: 11px

    &:before
        position: absolute
        top: 4px
        left: 4px
        content: ''
        background: center / contain no-repeat url('/images/close-circle.svg')
        width: 15px
        height: 15px

    &:first-child
        margin-left: 0

    &:hover
        cursor: pointer
        background: #efefef

